/******************************************************************************
 * FONTS
 ******************************************************************************/
@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('../fonts/century-gothic-regular.eot');
    src: url('../fonts/century-gothic-regular.eot') format('embedded-opentype'),
    url('../fonts/century-gothic-regular.woff') format('woff'),
    url('../fonts/century-gothic-regular.ttf') format('truetype'),
    url('../fonts/century-gothic-regular.svg#VAGRundschriftDLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothicBold';
    src: url('../fonts/century-gothic-bold.eot');
    src: url('../fonts/century-gothic-bold.eot') format('embedded-opentype'),
    url('../fonts/century-gothic-bold.woff') format('woff'),
    url('../fonts/century-gothic-bold.ttf') format('truetype'),
    url('../fonts/century-gothic-bold.svg#VAGRundschriftDLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/******************************************************************************
 * BASICS
 ******************************************************************************/
html        { height: 100%; width: 100%; }
body        { color: #888888; font-family: 'Arial', sans-serif; font-size: 14px; }
h1          { color: #898989; font-family: 'CenturyGothicRegular', 'Arial', sans-serif; font-size: 28px; font-weight: normal; line-height: 40px !important; }
h2          { color: #898989; font-family: 'CenturyGothicRegular', 'Arial', sans-serif; font-size: 18px; font-weight: normal; }
p           { line-height: 20px; }
a           { color: #ec5737; outline: none; }
a:hover     { color: #df5537; }
a:focus     { outline: 0px; }
a:active,
a:hover     { outline: 0; }